<div class="row">
  <div class="col-12">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="input-group mb-3">
        <input
          formControlName="title"
          type="text"
          class="form-control form-control-lg"
          id="search-bar"
          placeholder="Search Movies by Title"
          aria-label="Search Movies by Title">
        <button
          class="btn btn-outline-primary"
          type="submit"
          id="search-button">
          Search
        </button>
      </div>
    </form>
  </div>
</div>
