<div class="row">
  <div class="col-12">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchClicked()">
      <div class="input-group mb-3">
        <input
          formControlName="title"
          type="text"
          class="form-control form-control-lg"
          id="search-bar"
          placeholder="Search Movies by Title"
          aria-label="Search Movies by Title">

        <!-- Button is disabled when the search bar is empty to serve as a visual cue to enter a
        title -->
        <button
          [disabled]="searchForm.value['title'] === ''"
          class="btn btn-outline-primary"
          type="submit"
          id="search-button">
          Search
        </button>
      </div>
    </form>
  </div>
</div>
