<div class="row my-5">
  <div class="col-12">

    <!-- Previous button should be able to be clicked in there are results on the previous page -->
    <button
      (click)="onClickPrevious()"
      [disabled]="!hasPreviousMovies"
      class="btn btn-lg float-start"
      [ngClass]="hasPreviousMovies ? 'btn-outline-primary' : 'btn-outline-secondary'"
      type="button">
      &lt;&lt; Prev Movies
    </button>

    <!-- Next button should be able to be clicked in there are results on the next page -->
    <button
      (click)="onClickNext()"
      [disabled]="!hasNextMovies"
      class="btn btn-lg  float-end"
      [ngClass]="hasNextMovies ? 'btn-outline-primary' : 'btn-outline-secondary'"
      type="button">
      Next Movies &gt;&gt;
    </button>
  </div>
</div>
